body{
    background-color: #dfd9ca;
}
/* font  */
.main-h{
    font-family: 'Barlow Condensed', sans-serif;
}
.body-p{
    font-family: 'Public Sans', sans-serif;
}
.main-h2{
    font-family: 'Halant', serif;
}
.sp-font{
    font-family: 'Teko', sans-serif;
}

/* color  */
.blk-prime{
    color: #45181a;
}
/*desktop- nav  */
.desk-nav{
    background-color: #f1f1ef;
    margin-top: 80px;
}
.nav-a{
    border-color: #45181a !important;
    transition: all 0.2s ease;
}
.nav-a:hover{
    background-color: #45181a !important;
    color: #f1f1ef;
    transition: all 0.3s ease;
}
.active-nav{
    background-color: #45181a !important;
    color: #f1f1ef !important;
}
/* responsive-nav  */
.nav-link:focus, .nav-link:hover{
    background-color: #45181a !important;
    color: #f1f1ef !important;
}
.resp-nav{
    background-color: #dfd9ca;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn-close:focus{
    box-shadow: none;
}
.offcanvas{
    background-color: #dfd9ca;
}
.nav-link{
    padding: 14px;
}
  /* home  */
.max-w{
    max-width: 850px;
}
.h-s1-h{
    font-size: 64px;
}
.yellow-bg{
    background-color: #e3b638;
}
.h-s1-yellow-div{
    padding: 75px;
}
.h-s1-decor-1{
    top: 25%;
}
.h-s1-butn{
    position: relative;
    transition: all 0.3s ease;
}
.h-s1-butn::before{
    position: absolute;
    content: '';
    width: 106px;
    height: 111px;
    background-image: url(../images/butn-dcr.png);
    left: -41px;
    top: -15px;
}
.h-s1-butn:hover{
    background-color: #45181a !important;
    color: #f1f1ef !important;
    transition: all 0.3s ease;
}
.h-s1-grain-2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.brown-bg{
    background-color: #815c22;
}
.h-s2-div{
    padding-top: 150px;
}
.h-s2-line-span{
    height: 7px;
    background-color: #e3b638;
}
.h-s2-rice-pack{
    transform: rotate(37deg);
    left: -55px;
    top: -44px;
}

.h-s3-grain{
    left: -78px;
}
.h-s3-ban-div{
    background-image: url(../images/h-s3-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
}
.h-s3-div{
    overflow-x: clip;
}
.h-s3-rice-pack-1{
    top: -86px;
    transform: rotate(-37deg);
    right: -78px;
    width: 14%;
}
.h-s3-rice-pack-2{
    bottom: -155px;
    transform: rotate(25deg);
    left: -48px;
    width: 14%;
}

.h-s4-product-img{
    padding: 20px 0px;
    filter: drop-shadow(2px 10px 13px #a6a6a6);
    min-height: 347px;
}
.h-s5-product-img{
    padding: 20px 0px;
}
.h-s4-item{
    text-align: center;
    text-align: -webkit-center;
}
.h-s4-item-p{
    border-radius: 0px 50px 0px 50px;
}
.h-s4-item-p, .h-s4-product-img{
    transition: all 0.3s ease;  
}
.h-pro-card-a:hover .h-s4-item-p{
    background-color: #f1f1ef !important;
    color: #815c22 !important;
    transition: all 0.3s ease;
}
.h-pro-card-a:hover .h-s4-product-img{
    filter: drop-shadow(2px 10px 13px #787878);
    transition: all 0.3s ease;
}
.slick-next:before, .slick-prev:before{
    font-size: 26px !important;
    color: #45181a !important;
}

.h-s6-ban-div{
    background-image: url(../images/h-s6-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}
.h-s6-pos-div{
    top: -85px;
}
.h-s6-img-label{
    bottom: 15px;
    left: 15px;
}
.h-s6-img-div::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6980042016806722) 0%, rgba(255,255,255,0) 100%);
}
.h-s6-img-label-a ,.h-s8-card-a{
    transition: all 0.3s ease;
}
.h-s6-img-label-a:hover,.h-s8-card-a:hover{
    text-decoration: underline !important;
    color: #e3b638 !important;
    transition: all 0.3s ease;
}

.h-s7-head{
    color: #815c22;
}
.h-s7-decor-1{
    width: 9%;
    top: 62%;
}
.h-s7-decor-2{
    width: 9%;
}
.h-s8-sp-font-1{
    font-size: 110px;
    line-height:62px;
}
.h-s8-sp-font-2{
    line-height:92px;
}
.h-s8-ricepack-img{
    z-index: -1;
    transform: rotate(-37deg);
}
.h-s8-lower-div{
    height: 150px;
}
.h-s9-bg{
    background-image: url(../images/h-s9.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.h-s9-div{
    margin-top: 65%;
}
.h-s9-head-div{
    margin-left: 40%;
}
.h-s9-ricepack-img{
    transform: rotate(-30deg);
    top: -18rem;
    left: 12rem;
}
.h-s9-ricegrain-img{
    top: -9rem;
    left: 3rem;
    z-index: 0;
    transform: rotate(-30deg);
}
.h-s10-ban-img{
    background-image: url(../images/h-s10-ban-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
/* footer  */
.fotr-link-a{
    background: linear-gradient(90deg, rgba(243,115,53,1) 0%, rgba(253,200,48,1) 100%);
}
.fotr-link-a:hover{
    background: linear-gradient(90deg, rgba(253,200,48,1) 0%, rgba(243,115,53,1) 100%);
}
.fotr-div-2{
    background-color: #f9e4b0;
    margin-top: -50px;
    clip-path: polygon(0 0, 100% 0, 98% 50%, 100% 100%, 0 100%, 2% 50%);
}
.fotr-social{
    transition: all 0.3s ease;
}
.fotr-social:hover{
    transition: all 0.3s ease;
    opacity: 0.8;
}
.fotr-decor-grain-1{
    top: 10%;
    width: 15%;
}
.fotr-decor-grain-2{
    width: 15%;
}

/* product page  */
.prod-s1-span{
    width: 80px;
    height: 200px;
}
.prod-s1-span-1{
    border-bottom-right-radius: 30px;
}
.prod-s1-span-2{
    border-bottom-left-radius: 30px;
}
.prod-s2-div{
    border: 10px solid #815c22;
    border-radius: 50px;
}
.prod-s2-head{
    background-color: #dfd9ca;
}

/* product inner  */
.carousel-control-next-icon{
    background: none;
}
.carousel-control-prev-icon{
    background: none;
}
.prod-inner-s2-col2-h-div{
    line-height: 0;
}
.prod-inner-col2-div{
    /* border-bottom: 3px dashed #263238; */
}